:root {
  --nV-color: rgb(255, 207, 74);
  --fo3-color: rgb(8, 252, 8);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #222;
}
li {
  list-style: none;
}

h1 {
  background-color: #666;
  text-align: center;
}

.classContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  margin-left: 10px;
}

.classCard {
  background-color: #111;
  color: var(--nV-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 240px;
  border-radius: 8px;
}

.cardList {
  background-color: #333;
  padding: 8px;
  border-radius: 4px;
  border: var(--nV-color) 2px solid;
  width: 60%;
  text-align: center;
}

.cardHeader {
  padding: 8px;
  background-color: #333;
  margin-bottom: 10px;
  border: var(--nV-color) 2px dotted;
  border-radius: 4px;
  width: 80%;
  text-align: center;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  bottom: 0;
  width: 100%;
  background-color: #333;
}
footer p {
  text-align: center;
  display: block;
  color: var(--fo3-color);
  margin-top: 8px;
}
footer a:link {
  color: var(--nV-color);
}
